{% extends 'base.html' %}

{% block content %}

<div class="container  ">
    <div class="row   w-75 h-50 d-flex justify-content-center align-items-center">
        <div class="col text-center">
            <h1>Welcome to TaskLister </h1>
            <p>Create your task and complete on deadline.</p>
            <p>The most productive way to handle your schedule.</p>

            {% if user.is_authenticated %}
            <div>
                <a href="{%url 'task_list' %}" class="btn btn-outline-dark">View Tasks</a>
                <a href="{% url 'task_create' %}" class="btn btn-outline-dark">Create new Task</a>
                <a href="{% url 'account_logout' %}" class="btn btn-outline-danger">Logout</a>
            </div>
            {% else %}
            <p>Please Login to your account to view or create Tasks.</p>
            <div>
                <a href="{%url 'account_login' %}" class="btn btn-outline-dark">Log In</a>
                <a href="{% url 'account_signup' %}" class="btn btn-outline-dark">Sign Up</a>
            </div>
            {% endif %}
        </div>

        <div class="col-2">

        </div>

    </div>
</div>
{% endblock content %}